The following queries for TSQLV4 database are converted to be used for Northwinds2022TSQLV7 database.

 <span style="color: rgb(96, 139, 78);"><b>&nbsp;Elements&nbsp;of&nbsp;the&nbsp;SELECT&nbsp;Statement</b></span>

<span style="color: #608b4e;">Proposition:&nbsp;I&nbsp;would&nbsp;like&nbsp;to&nbsp;know&nbsp;the&nbsp;number&nbsp;of&nbsp;orders&nbsp;the&nbsp;Customer&nbsp;71&nbsp;placed&nbsp;by&nbsp;each&nbsp;employee&nbsp;and&nbsp;year.&nbsp;</span>

In [ ]:
USE TSQLV4;

SELECT empid, YEAR(orderdate) AS orderyear, COUNT(*) AS numorders
FROM Sales.Orders
WHERE custid = 71
GROUP BY empid, YEAR(orderdate)
HAVING COUNT(*) > 1
ORDER BY empid, orderyear;

USE Northwinds2022TSQLV7
GO
SELECT EmployeeId, YEAR(OrderDate) AS orderyear, COUNT (*) AS numorders
FROM Sales.[Order]
WHERE CustomerId = 71
GROUP BY EmployeeId, YEAR (OrderDate)
HAVING COUNT (*) > 1
ORDER BY EmployeeId, OrderYear;

<span style="color: #6a9955;"><b>The FROM Clause</b></span>

<span style="color: #6a9955;">Proposition: I would like to see a list of orders and OrderId, CustomerId, EmployeeId, and Freight related to these orders.</span>

In [ ]:
USE   TSQLV4;
SELECT orderid, custid, empid, orderdate, freight
FROM Sales.Orders;

<span style="color: #608b4e;"><b>The&nbsp;WHERE&nbsp;Clause</b></span>

<span style="color: #608b4e;">Proposition:&nbsp;I&nbsp;would&nbsp;like&nbsp;to&nbsp;see&nbsp;a&nbsp;list&nbsp;of&nbsp;all&nbsp;orders&nbsp;placed&nbsp;by&nbsp;CustomerId&nbsp;71.&nbsp;I&nbsp;want&nbsp;to&nbsp;see&nbsp;orderID,&nbsp;customer&nbsp;who&nbsp;placed&nbsp;an&nbsp;order,&nbsp;employee&nbsp;who&nbsp;helped&nbsp;place&nbsp;the&nbsp;order,&nbsp;and&nbsp;the&nbsp;total&nbsp;sales.&nbsp;</span>

In [ ]:
USE TSQLV4;
SELECT orderid, empid, orderdate, freight
FROM Sales.Orders
WHERE custid = 71;

USE Northwinds2022TSQLV7
GO
SELECT OrderId, EmployeeId, OrderDate, Freight
FROM Sales.[Order]
WHERE CustomerId = 71

<span style="color: rgb(96, 139, 78);"><b>The&nbsp;GROUP&nbsp;BY&nbsp;Clause</b></span>

<span style="color: rgb(96, 139, 78);">Proposition:&nbsp;I&nbsp;would&nbsp;like&nbsp;to&nbsp;see&nbsp;a&nbsp;list&nbsp;of&nbsp;employees&nbsp;who&nbsp;helped&nbsp;customer&nbsp;71&nbsp;place&nbsp;an&nbsp;order&nbsp;each&nbsp;year.&nbsp;&nbsp;</span>

In [ ]:
USE TSQLV4;
SELECT empid, YEAR(orderdate) AS orderyear
FROM Sales.Orders
WHERE custid = 71
GROUP BY empid, YEAR(orderdate);

USE Northwinds2022TSQLV7
GO
SELECT EmployeeId, YEAR (orderDate) AS orderyear
FROM Sales.[Order]
WHERE CustomerId = 71
GROUP BY EmployeeId, YEAR (orderdate)

<span style="color: rgb(96, 139, 78);"><b>The&nbsp;GROUP&nbsp;BY&nbsp;Clause</b></span>

<span style="color: rgb(96, 139, 78);">Proposition: I would like to know how many orders various employee placed for customer 71 for each year and the total sales amount.&nbsp;&nbsp;</span>

In [ ]:
USE TSQLV4;
SELECT
  empid,
  YEAR(orderdate) AS orderyear,
  SUM(freight) AS totalfreight,
  COUNT(*) AS numorders
FROM Sales.Orders
WHERE custid = 71
GROUP BY empid, YEAR(orderdate);

USE Northwinds2022TSQLV7
GO
SELECT
  EmployeeId,
  YEAR(OrderDate) AS orderyear,
  SUM(Freight) AS totalfreight,
  COUNT (*) AS numorders
FROM Sales.[Order]
WHERE CustomerId = 71
GROUP BY EmployeeId, YEAR (OrderDate);

<span style="color: rgb(96, 139, 78);"><b>The&nbsp;GROUP&nbsp;BY&nbsp;Clause</b></span>

<span style="color: rgb(96, 139, 78);">Proposition: I want to know how many unique customers each employee served for each respective year.&nbsp;</span>

In [ ]:
USE TSQLV4;
SELECT
    empid,
    YEAR(orderdate) AS orderyear,
    COUNT(DISTINCT custid) AS numcusts
FROM Sales.Orders
GROUP BY empid, YEAR(orderdate);

USE Northwinds2022TSQLV7
GO
SELECT
    EmployeeId,
    YEAR (OrderDate) AS orderyear,
    COUNT (DISTINCT CustomerId) AS numcusts
FROM Sales.[Order]
GROUP BY EmployeeId, YEAR (OrderDate);

<span style="color: rgb(106, 153, 85);"><b>The HAVING Clause</b></span>

Proposition: I would like a list of employees who placed at least two orders per year for customer 71.

In [ ]:
USE TSQLV4;
SELECT empid, YEAR(orderdate) AS orderyear
FROM Sales.Orders
WHERE custid = 71
GROUP BY empid, YEAR(orderdate)
HAVING COUNT(*) > 1;

USE Northwinds2022TSQLV7
GO
SELECT EmployeeId, YEAR (OrderDate) AS orderyear
FROM Sales.[Order]
WHERE CustomerId = 71
GROUP BY EmployeeId, YEAR (OrderDate)
HAVING COUNT(*) > 1

**The SELECT Clause**

Proposition: I would like a list of orders that was placed after year 2015.

In [ ]:
USE TSQLV4;
SELECT orderid, YEAR(orderdate) AS orderyear
FROM Sales.Orders
WHERE YEAR(orderdate) > 2015;

USE Northwinds2022TSQLV7
GO
SELECT OrderId, YEAR(OrderDate) AS orderyear
FROM Sales.[Order]
WHERE YEAR (orderdate) > 2015;

**The SELECT Clause**

Listing 2-2: Query Returning Duplicate Rows

Proposition: I would like a list of employees who helped place an order for customer 71 for each year.  

This could query could result in duplicate rows since an employee can place more than one order in a given year.

In [ ]:
USE TSQLV4;
SELECT empid, YEAR(orderdate) AS orderyear
FROM Sales.Orders
WHERE custid = 71;

USE Northwinds2022TSQLV7
GO
SELECT EmployeeId, YEAR (orderdate) AS orderyear
FROM Sales. [Order]
WHERE CustomerId = 71;

**The SELECT Clause**

Listing 2-3: Query with a DISTINCT Clause

Proposition: I would like a list of unique employees who helped place an order for customer 71 for each year.  

This could query would remove the duplicate rows.

In [ ]:
USE TSQLV4;
SELECT DISTINCT empid, YEAR(orderdate) AS orderyear
FROM Sales.Orders
WHERE custid = 71;

USE Northwinds2022TSQLV7
GO
SELECT DISTINCT EmployeeId, YEAR (orderdate) AS orderyear
FROM Sales.[Order]
WHERE CustomerId= 71;

**THE SELECT Clause**

Proposition: I would like a list of all shippers with all attributes related to each shipper.

This shows the use of  \* - it displays all the columns in the given table. It is normally not recommended to use wildcard unless the data size is small. In this case, the data size is small.

In [ ]:
USE TSQLV4;
SELECT *
FROM Sales.Shippers;

USE Northwinds2022TSQLV7
GO
SELECT *
FROM Sales.[Shipper]

**The SELECT Clause**

Proposition: I would like a list of all orders, the year the order was placed, and the following year after the order was placed. 

This query shows that we can use arithmetic with the columns.

In [ ]:
USE TSQLV4;
SELECT orderid,
  YEAR(orderdate) AS orderyear,
  YEAR(orderdate) + 1 AS nextyear
FROM Sales.Orders;

USE Northwinds2022TSQLV7
GO
SELECT OrderId,
    YEAR (OrderDate) AS orderyear,
    YEAR (OrderDate) + 1 AS nextyear
FROM Sales.[Order];

**The ORDER BY Clause**

Proposition: I would like to know how many orders each employee placed per year for the customer 71, if they helped this customer AND if they placed at least 2 orders for this customer that year. 

Notice that I can use the alias in ORDER BY because it is called after SELECT.

WHERE Custid = 71 eliminates all other employees who did not help this customer.

In [ ]:
USE TSQLV4;
SELECT empid, YEAR(orderdate) AS orderyear, COUNT(*) AS numorders
FROM Sales.Orders
WHERE custid = 71
GROUP BY empid, YEAR(orderdate)
HAVING COUNT(*) > 1
ORDER BY empid, orderyear;

USE Northwinds2022TSQLV7
GO
SELECT EmployeeId, YEAR (OrderDate) AS orderyear, COUNT (*) AS numorders
FROM Sales.[Order]
WHERE CustomerId = 71
GROUP BY EmployeeId, YEAR (orderdate)
HAVING COUNT (*) > 1
ORDER BY EmployeeId, orderyear;

The ORDER BY Clause

Proposition: I would like a list of employee ID, firstname, lastname, and country ordered by the oldest hiredate.

In [ ]:
USE TSQLV4;
SELECT empid, firstname, lastname, country
FROM HR.Employees
ORDER BY hiredate;

USE Northwinds2022TSQLV7
GO
SELECT EmployeeId, EmployeeFirstName, EmployeeLastName, EmployeeCountry
FROM HumanResources.Employee
ORDER BY HireDate;

**The TOP Filter**

Proposition: I would like the last 5 orders that was placed along with the orderid, orderdate, customerid, and employee who worked on the order.

Notice that when there are the same dates, the order of the rows is not always guaranteed. So the first and the second queries are not the same. May need to use OrderId as a tiebreaker.

In [ ]:
USE TSQLV4;
SELECT TOP (5) orderid, orderdate, custid, empid
FROM Sales.Orders
ORDER BY orderdate DESC;

USE Northwinds2022TSQLV7
GO
SELECT TOP (5) OrderId, OrderDate, CustomerId, EmployeeId
FROM Sales.[Order]
ORDER BY OrderDate DESC;

**The TOP Filter - PERCENT**

Proposition: I would like the 1 % of the orders that was placed recently along with orderid, orderdate, customerid, and employee who worked on the order.

In [ ]:
USE TSQLV4;
SELECT TOP (1) PERCENT orderid, orderdate, custid, empid
FROM Sales.Orders
ORDER BY orderdate DESC;

USE Northwinds2022TSQLV7
GO
SELECT TOP (1) PERCENT OrderId, OrderDate, CustomerId, EmployeeId
FROM Sales.[Order]
ORDER BY OrderDate DESC;

**The TOP FILTER - Unique ORDER BY List with a Tiebreaker**

Proposition: I would like the last 5 orders that was placed along with the orderid, orderdate, customerid, and employee who worked on the order.

There are orders with the same date. In that case, OrderId DESC was used as a tiebreaker. This guarantees that the query will bring the same results or "deterministic."

In [ ]:
USE TSQLV4;
SELECT TOP (5) orderid, orderdate, custid, empid
FROM Sales.Orders
ORDER BY orderdate DESC, orderid DESC;

USE Northwinds2022TSQLV7
GO
SELECT TOP (5) OrderId, OrderDate, CustomerId, EmployeeId
FROM Sales.[Order]
ORDER BY OrderDate DESC, OrderId DESC;

**The Top Filter - WITH TIES**

Proposition: I would like the last 5 orders that was placed along with the orderid, orderdate, customerid, and employee who worked on the order. Please include the orders whose dates are the same as the last order out of the 5. 

In addition to the five rows, you get back all other rows from the table that have the same sort value as the last one found (in this case it is the date, 05/05/2016)

In [ ]:
USE TSQLV4;
SELECT TOP (5) WITH TIES orderid, orderdate, custid, empid
FROM Sales.Orders
ORDER BY orderdate DESC;

USE Northwinds2022TSQLV7
GO
SELECT TOP (5) WITH TIES OrderId, OrderDate, CustomerId, EmployeeId
FROM Sales.[Order]
ORDER BY OrderDate DESC;

**OFFSET-FETCH Filter**

  

Proposition: I would like the first 25 orders placed. Please skip the first 50.

In [ ]:
USE TSQLV4;
SELECT orderid, orderdate, custid, empid
FROM Sales.Orders
ORDER BY orderdate, orderid
OFFSET 50 ROWS FETCH NEXT 25 ROWS ONLY;

USE Northwinds2022TSQLV7
GO
SELECT OrderId, OrderDate, CustomerId, EmployeeId
FROM Sales.[Order]
ORDER BY OrderDate, OrderId
OFFSET 50 ROWS FETCH NEXT 25 ROWS ONLY;

**<mark>Window Function: Row\_Number()</mark>**

Proposition: I would like to lable each order within each customer's orders. The order with the lowest value would receive the first number.

In [ ]:
USE TSQLV4;
SELECT orderid, custid, val,
    ROW_NUMBER() OVER(PARTITION BY custid
                    ORDER BY val) AS rownum
FROM Sales.OrderValues
ORDER BY custid, val;


USE Northwinds2022TSQLV7
GO
SELECT OrderId, CustomerId, Val,
    ROW_NUMBER () OVER (PARTITION BY CustomerId
                        ORDER BY Val) AS rownum
FROM Sales.[OrderValue]

**Predicate: IN**

Proposition: I would like the list of dates and employees who worked on the following orders: 10248, 10249, 10250.

IN allows you to include multiple values in the query.

In [ ]:
USE TSQLV4;
SELECT orderid, empid, orderdate
FROM Sales.Orders
WHERE orderid IN(10248, 10249, 10250);

USE Northwinds2022TSQLV7
GO
SELECT OrderId, EmployeeId, OrderDate
FROM Sales.[Order]
WHERE OrderId IN (10248, 10249, 10250);

**Predicate: BETWEEN**

Proposition: I would like the list of dates and employees who worked on the orders 10300 through 10310.

BETWEEN allows you to specify a range.

In [ ]:
USE TSQLV4;
SELECT orderid, empid, orderdate
FROM Sales.Orders
WHERE orderid BETWEEN 10300 AND 10310;

USE Northwinds2022TSQLV7
GO
SELECT OrderId, EmployeeId, OrderDate
FROM Sales.[Order]
WHERE OrderId BETWEEN 10300 AND 10310;

**Predicate: LIKE**

Proposition: I would like a list of first and last name of all employees whose last name starts with 'D.'

In [ ]:
USE TSQLV4;
SELECT empid, firstname, lastname
FROM HR.Employees
WHERE lastname LIKE N'D%';

USE Northwinds2022TSQLV7
GO
SELECT EmployeeId, EmployeeFirstName, EmployeeLastName
FROM HumanResources.Employee
WHERE EmployeeLastName LIKE N'D%'

**Comparison Operator: =**

Proposition: I would like a list of all orders and employee ID, and order dates from the orders placed on and after 01/01/2016.

In [ ]:
USE TSQLV4;
SELECT orderid, empid, orderdate
FROM Sales.Orders
WHERE orderdate >= '20160101';

USE Northwinds2022TSQLV7
GO
SELECT OrderId, EmployeeId, OrderDate
FROM Sales.[Order]
WHERE OrderDate >= '20160101';

**Logical Operator: AND**

Proposition: I would like a list of orders placed after 01/01/2016 by the following employees: 1, 3, 5.

In [ ]:
USE TSQLV4;
SELECT orderid, empid, orderdate
FROM Sales.Orders
WHERE orderdate >= '20160101'
  AND empid IN(1, 3, 5);

USE Northwinds2022TSQLV7
GO
SELECT OrderId, EmployeeId, OrderDate
FROM Sales.[Order]
WHERE OrderDate >= '20160101'
    AND EMployeeId IN (1, 3, 5);

**Arithmetic Operator: \*, -**

Proposition: I would like a list of orders with a discounted price.

In [ ]:
USE TSQLV4;
SELECT orderid, productid, qty, unitprice, discount,
  qty * unitprice * (1 - discount) AS val
FROM Sales.OrderDetails;

USE Northwinds2022TSQLV7
GO
SELECT OrderId, ProductId, Quantity, UnitPrice, DiscountPercentage,
    Quantity * UnitPrice * (1- DiscountPercentage) AS val
FROM Sales.OrderDetail;

**Operator Precedence: AND Precedes OR**

Proposition: I would like a list of orders  for customers 85 or 1 placed by employees 1, 3, 5 and 2, 4, 6. 

Note that the following query can be ambiguous. However, the operator precedences removes the ambiguity. Still, it is best to use brackets to ensure clarity for others working with this query.

In [ ]:
USE TSQLV4;
SELECT orderid, custid, empid, orderdate
FROM Sales.Orders
WHERE
        custid = 1
    AND empid IN(1, 3, 5)
    OR  custid = 85
    AND empid IN(2, 4, 6);



USE Northwinds2022TSQLV7
GO
SELECT OrderId, CustomerId, EmployeeId, OrderDate
FROM Sales.[Order]
WHERE
        ( CustomerId = 1 AND EmployeeID IN(1,3,5))
        OR
        (CustomerId = 85 AND EmployeeId IN (2, 4, 6));

**Operator Precedence: \* precedes +**

  

Proposition. Please add 10 and 2. Then multiply the result by 3. 

The latter query is the correct one because () ensures the precedence of the operator it encloses.

In [ ]:
SELECT 10 + 2 * 3   -- 16

SELECT (10 + 2) * 3 -- 36

**CASE Expression- Simple**

Proposition: Please display the category of the product for each respective category ID.

In [ ]:
USE TSQLV4;
SELECT productid, productname, categoryid,
  CASE categoryid
    WHEN 1 THEN 'Beverages'
    WHEN 2 THEN 'Condiments'
    WHEN 3 THEN 'Confections'
    WHEN 4 THEN 'Dairy Products'
    WHEN 5 THEN 'Grains/Cereals'
    WHEN 6 THEN 'Meat/Poultry'
    WHEN 7 THEN 'Produce'
    WHEN 8 THEN 'Seafood'
    ELSE 'Unknown Category'
  END AS categoryname
FROM Production.Products;

USE Northwinds2022TSQLV7
GO
SELECT ProductId, ProductName, CategoryId,
  CASE CategoryId
    WHEN 1 THEN 'Beverages'
    WHEN 2 THEN 'Condiments'
    WHEN 3 THEN 'Confections'
    WHEN 4 THEN 'Dairy Products'
    WHEN 5 THEN 'Grains/Cereals'
    WHEN 6 THEN 'Meat/Poultry'
    WHEN 7 THEN 'Produce'
    WHEN 8 THEN 'Seafood'
    ELSE 'Unknown Category'
  END AS categoryname
FROM Production.Product;

**CASE Expression - Searched**

Proposition: Please display the respective ranges using words for each value.

In [ ]:
USE TSQLV4;
SELECT orderid, custid, val,
  CASE 
    WHEN val < 1000.00                   THEN 'Less than 1000'
    WHEN val BETWEEN 1000.00 AND 3000.00 THEN 'Between 1000 and 3000'
    WHEN val > 3000.00                   THEN 'More than 3000'
    ELSE 'Unknown'
  END AS valuecategory
FROM Sales.OrderValues;

USE Northwinds2022TSQLV7
GO
SELECT orderid, custid, val,
  CASE 
    WHEN val < 1000.00                   THEN 'Less than 1000'
    WHEN val BETWEEN 1000.00 AND 3000.00 THEN 'Between 1000 and 3000'
    WHEN val > 3000.00                   THEN 'More than 3000'
    ELSE 'Unknown'
  END AS valuecategory
FROM Sales.OrderValue;

**NULLS**

Proposition: I would like a list of all customers who do not live in Washington state. Be sure to include customers whose state column is missing.

The following queries demonstrate the three-valued logic (T, F, and NULL).

In [ ]:

USE TSQLV4;

/*
This query will return the list of customers who live in WA.

SELECT custid, country, region, city
FROM Sales.Customers
WHERE region = N'WA';


This query will return the list of customers who do not live in WA. It will exclude the customers whose residence field is empty (NULL) or unknown.
The query filter only accepts TRUE. Both UNKNOWN and NULL will be rejected.

SELECT custid, country, region, city
FROM Sales.Customers
WHERE region <> N'WA';
   
This query will return an empty set. region = NULL evaluates to UNKNOWN. 

SELECT custid, country, region, city
FROM Sales.Customers
WHERE region = NULL;

This query will return a list of customers whose region field is NULL or empty. 

SELECT custid, country, region, city
FROM Sales.Customers
WHERE region IS NULL;
*/

--This query satisfies the proposition above. 
SELECT custid, country, region, city
FROM Sales.Customers
WHERE region <> N'WA'
   OR region IS NULL;

USE Northwinds2022TSQLV7
GO
SELECT CustomerId, CustomerCountry, CustomerRegion, CustomerCity
FROM Sales.Customer
WHERE CustomerRegion <> N'WA'
   OR CustomerRegion IS NULL;

**All-At-Once Operations**

All expressions that appera in the same logical query processing phase are evaluated at the same point in time.

In [ ]:

/*
The following query is invalid. Alias cannot be used to refer to another column since there is no guarantee that the column with the alias will be processed first. 
SELECT 
  orderid, 
  YEAR(orderdate) AS orderyear, 
  orderyear + 1 AS nextyear
FROM Sales.Orders;
*/

/*
col2/col1 > 2 can be evaluated before col1 <> 0. This query may result in error. 
SELECT col1, col2
FROM dbo.T1
WHERE col1 <> 0 AND col2/col1 > 2;
*/

/*
--This query is a work-around using the CASE Expression. 
SELECT col1, col2
FROM dbo.T1
WHERE
  CASE
    WHEN col1 = 0 THEN 'no' -- or 'yes' if row should be returned
    WHEN col2/col1 > 2 THEN 'yes'
    ELSE 'no'
  END = 'yes';


/*
SELECT col1, col2
FROM dbo.T1
WHERE (col1 > 0 AND col2 > 2*col1) OR (col1 < 0 AND col2 < 2*col1); 
*/

**Character Data: Collation**

Collation is a property of character data that encapsulates several aspects: language support, sort order, case sensitivity, accent sensitity, and more.

Proposition: I would like a list of employees whose lastname is davis with a lowercase letter.

In [ ]:
--This query returns a list of supported collations and their descriptions. 

SELECT name, description
FROM sys.fn_helpcollations();

-- This query returns the employee whose lastname is davis. This query is not sensitive to the fact that davis is lower-case.
USE TSQLV4;
SELECT empid, firstname, lastname
FROM HR.Employees
WHERE lastname = N'davis';

USE Northwinds2022TSQLV7
GO
SELECT EmployeeId, EmployeeFirstName, EmployeeLastName
FROM HumanResources.Employee
WHERE EmployeeLastName = N'davis';

-- This query returns None. This query is sensitive to the fact that davis is lower-case. No employee in the database has a lastname davis with lowercase. 
USE TSQLV4;
SELECT empid, firstname, lastname
FROM HR.Employees
WHERE lastname COLLATE Latin1_General_CS_AS = N'davis';

USE Northwinds2022TSQLV7
GO
SELECT EmployeeId, EmployeeFirstName, EmployeeLastName
FROM HumanResources.Employee
WHERE EmployeeLastName COLLATE LATIN1_GENERAL_CS_AS= N'davis';

**Character Data: Operators and Functions**

Proposition: I would like to receive a list of employees with their full names.

Proposition: I would like to see a list of customers' address with a column that combines country, region, and city.

In [ ]:

-- Concatenation
USE TSQLV4;
SELECT empid, firstname + N' ' + lastname AS fullname
FROM HR.Employees;

USE Northwinds2022TSQLV7
GO
SELECT EmployeeId, EmployeeFirstName + N' '+EmployeeLastName AS fullname
FROM HumanResources.Employee;

-- Listing 2-7: Query Demonstrating String Concatenation. The location will return NULL for customers whose region is NULL.
USE TSQLV4;
SELECT custid, country, region, city,
    country + N',' + region + N',' + city AS location
FROM Sales.Customers;

USE Northwinds2022TSQLV7
GO
SELECT CustomerId, CustomerCountry, CustomerRegion, CustomerCity,
    CustomerCountry + N',' + CustomerRegion + N',' + CustomerCity AS location
FROM Sales.Customer;

-- convert NULL to empty string. This is a work-around for the customers with no region. Coalesce function returns the first value that is not NULL.
USE TSQLV4;
SELECT custid, country, region, city,
  country + COALESCE( N',' + region, N'') + N',' + city AS location
FROM Sales.Customers;

USE Northwinds2022TSQLV7
GO
SELECT CustomerId, CustomerCountry, CustomerRegion, CustomerCity,
    CustomerCountry + COALESCE (N',' + CustomerRegion, N'') + N',' + CustomerCity AS location
FROM Sales.Customer;

-- CONCAT function below is equivalent to the query above. It automatically substitutes NULL with an empty string.
USE TSQLV4;
SELECT custid, country, region, city,
  CONCAT(country, N',' + region, N',' + city) AS location
FROM Sales.Customers;

USE Northwinds2022TSQLV7
GO
SELECT CustomerId, CustomerCountry, customerRegion, CustomerCity,
  CONCAT(CustomerCountry, N',' + CustomerRegion, N',' + CustomerCity) AS location
FROM Sales.Customer;

**Character: Functions**

In [ ]:
SELECT SUBSTRING('abcde', 1, 3); -- 'abc'

SELECT RIGHT('abcde', 3); -- 'cde'

SELECT LEN(N'abcde'); -- 5

SELECT DATALENGTH(N'abcde'); -- 10

SELECT CHARINDEX(' ','Itzik Ben-Gan'); -- 6

SELECT PATINDEX('%[0-9]%', 'abcd123efgh'); -- 5

SELECT REPLACE('1-a 2-b', '-', ':'); -- '1:a 2:b'

SELECT REPLICATE('abc', 3); -- 'abcabcabc'

SELECT STUFF('xyz', 2, 1, 'abc'); -- 'xabcz'

SELECT UPPER('Itzik Ben-Gan'); -- 'ITZIK BEN-GAN'

SELECT LOWER('Itzik Ben-Gan'); -- 'itzik ben-gan'

SELECT RTRIM(LTRIM('   abc   ')); -- 'abc'

SELECT FORMAT(1759, '0000000000'); -- '0000001759'

**Character: LEN & REPLACE**

Proposition: I would like to know how many e's are in employees' lastnames.

In [ ]:
--Replace function is typically used to replace a letter with another character. In this case, it is replaced with an empty string, removing all e's. 
--Then the length of the shortened lastname is subtracted from the length of the original lastname. This difference would account for a total count of e's in the name. 

USE TSQLV4;
SELECT empid, lastname,
  LEN(lastname) - LEN(REPLACE(lastname, 'e', '')) AS numoccur
FROM HR.Employees;

USE Northwinds2022TSQLV7
SELECT EmployeeId, EmployeeLastName,
  LEN(EmployeeLastName) - LEN(REPLACE(EmployeeLastname, 'e', '')) AS numoccur
FROM HumanResources.Employee;

**Character: RIGHT, REPLICATE, CAST**

Proposition: I would like to see the supplierID as a 10-digit number.

In [ ]:
--This query uses REPLICATE to concatenate nine 0's in front of the original supplierid. 
--In order to use concatenate function, this supplierid should be converted from number to character. 
--Lastly, the total length of the supplierID has to be 10 digit. Use the RIGHT function to discard extra 0's in the front. 
--All these can be done with the FORMAT function. 
USE TSQLV4;
SELECT supplierid,
  RIGHT(REPLICATE('0', 9) + CAST(supplierid AS VARCHAR(10)),
        10) AS strsupplierid
FROM Production.Suppliers;

USE Northwinds2022TSQLV7
SELECT SupplierId,
  RIGHT(REPLICATE('0', 9) + CAST(SupplierId AS VARCHAR(10)),
        10) AS strsupplierid
FROM Production.Supplier;

**Character: COMPRESS, DECOMPRESS**

In [ ]:
-- COMPRESS
SELECT COMPRESS(N'This is my cv. Imagine it was much longer.');

-- DECOMPRESS - this is an incorrect query.
--SELECT DECOMPRESS(COMPRESS(N'This is my cv. Imagine it was much longer.'));

--This query properly decompresses. Explicit cast is necessary. 
SELECT
  CAST(
    DECOMPRESS(COMPRESS(N'This is my cv. Imagine it was much longer.'))
      AS NVARCHAR(MAX));

**Character: STRING\_SPLIT**